snippet fi "fix" !b
fix(${1:fixName}): ${2:Description goes here}
endsnippet

snippet c "chore" !b
chore(${1:choreName}): ${2:Description goes here}
endsnippet

snippet fe "feature" !b
feat(${1:featName}): ${2:Description goes here}
endsnippet
snippet cv "chore:versioning" !b
chore(version): versioning
endsnippet
