snippet fi "fix" !b
fix(${1:fixName}): ${2:Description goes here}
endsnippet

snippet c "chore" !b
chore(${1:choreName}): ${2:Description goes here}
endsnippet

snippet fe "feature" !b
feat(${1:featName}): ${2:Description goes here}
endsnippet

snippet cv "chore:versioning" !b
chore(version): versioning
endsnippet

snippet cvb "chore:versioning & build" !b
chore(version): versioning & build
endsnippet

snippet cl "chore:log" !b
chore(changelog): changelog update 
endsnippet
