# Global snippets

# (c) holds no legal value ;)
snippet c)
	iojo
	Copyright `&enc[:2] == "utf" ? "©" : "(c)"` `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet ddate
	`strftime("%d de %B, %Y")`
snippet -
	--- ${1:30} minutes ${2:description here} -----------------------------------------------------------------
snippet tt
	`strftime("%R")`
snippet {
	{${1}}${2}
snippet [
	[${1}]${2}
snippet '
	'${1}'${2}
snippet "
	"${1}"${2}
snippet (
	(${1})${2}
snippet comment
	//////////////////////////////////////
	//  ${1:Comment Header Here}        //
	//////////////////////////////////////

	// -- END $1
# {{{HTML SNIPPETS
####################################################################################################################################################################################################################################################################################
#
snippet html5
	<!DOCTYPE HTML>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>${1:Titulo aqui}</title>
		<link rel="stylesheet" href="${2:css/style.css}" />
	</head>
	<body>
		${3}
	</body>
	</html>
#
#}}}-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
# {{{ JavaScript Functions
snippet jsf excerpt() -  Reducing text by word limit
	function excerpt(str, nwords) {
		var words = str.split(' ');
		words.splice(nwords, words.length-1);
		return words.join(' ') + 
			(words.length !== str.split(' ').length ? '&hellip;' : '');
	}
#
snippet jsf getMaxHeight() - Get the maxHeight of a set of elements
	var getMaxHeight = function ($elms) {
		var maxHeight = 0;
		$elms.each(function () {
			// In some cases you may want to use outerHeight() instead
			var height = $(this).height();
			if (height > maxHeight) {
				maxHeight = height;
			}
		});
		return maxHeight;
	};
#
snippet jsf ResponsiveBreakpoint () - if ( isBreakPoint(320) ) { // breakpoint at 320 or less } if ( isBreakPoint(480) ) { // breakpoint between 320 and 480 }
	function isBreakPoint(bp) {
		// The breakpoints that you set in your css
		var bps = [320, 480, 768, 1024];
		var w = $(window).width();
		var min, max;
		for (var i = 0, l = bps.length; i < l; i++) {
			if (bps[i] === bp) {
				min = bps[i-1] || 0;
				max = bps[i];
				break;
			}
		}
		return w > min && w <= max;
	}
#
snippet jsf callback()
	if (callback && typeof(callback) === "function") {
		callback();
	}
#
snippet jsf ha()
	callMaxCaracteres
snippet jsf sprite1()
	callMaxCaracteres
snippet log 
	console.log(${1});${2}
#}}}
# {{{ JQUERY SNIPPETS
snippet ajax
	$.ajax({
	type: "POST",
	url: "${1:url.php}",
	cached: ${2:true},
	${3:data: { name: "John", location: "Boston" }},
	statusCode:{404: function(){ alert('404');}}
	})
	.done(function( msg ) {
	  ${4:alert( "Data Saved: " + msg );}
	})
	.fail(function() { alert("error"); });
snippet ready
	$(function(){
	${1}
	});

snippet importngmod
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/${1:1.0.6}/angular-resource.min.js"></script>
	<script>window.angular || document.write('<script src="js/vendor/angular-resource-$1.min.js"><\/script>')</script>
snippet importng  
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/${1:1.0.6}/angular.min.js"></script>
	<script>window.angular || document.write('<script src="js/vendor/angular-$1.min.js"><\/script>')</script>
snippet importjq  
	<script src="//ajax.googleapis.com/ajax/libs/jquery/${1:1.8.2}/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-$1.min.js"><\/script>')</script>
snippet $  
	$("${1:seletor}")${2:;}${3}
#}}}
